# Ignorar las carpetas de imágenes y etiquetas del dataset
images/
labels/

# Ignorar los pesos descargados y entrenados (ocupan gigas)
*.pt
runs/

# Ignorar archivos del sistema
.DS_Store
__pycache__/
.streamlit/
# Ignorar todas las imágenes de estos formatos
*.png
*.jpg
*.jpeg
*.gif

# Ignorar archivos comprimidos pesados
*.zip
*.tar.gz
*.rar
